* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* direction: rtl; */
}

body {
  background-color: #111111;
  color: #fafafa;
}

.card-bg {
  background-color: #282b2e;
}

.links {
  text-decoration: none;
  color: white;
}
